<!-- <button mat-raised-button color="primary" (click)="onClick(this)">Primary</button> -->


<!-- <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
    <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
</mat-form-field> -->

<!-- <div *ngFor="let persona of persone">
    <p><strong>Nome:</strong>{{persona.nome}} - <strong>Cognome:</strong> {{persona.cognome}}</p>
    <p *ngIf="persona.online" class="online"></p>
    <p *ngIf="!persona.online" class="offline"></p>
</div> -->

<ul>
    <li *ngFor="let persona of persone; index as i">
        <!-- <div class="cerchio" [ngClass]="{'cerchioOnline':persona.online, 'cerchioOffline': !persona.online}">{{i}}</div> -->
        <div class="cerchio" [ngClass]="persona.online ? 'cerchioOnline' : 'cerchioOffline'">{{i}}</div>
        <p>{{persona.nome}} - {{persona.cognome}}</p>
    </li>
</ul>
