.cerchioOnline{
    background-color: green;
    color: white;
}

.cerchioOffline{
    background-color: red;
    color: orange;
}

.cerchio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li > p{
    margin-bottom: 0;
}

.prova{
    border-radius: 0%;
}