<!-- <button mat-raised-button color="primary" (click)="onClick(this)">Primary</button> -->


<!-- <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
    <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
</mat-form-field> -->

<!-- <div *ngFor="let persona of persone">
    <p><strong>Nome:</strong>{{persona.nome}} - <strong>Cognome:</strong> {{persona.cognome}}</p>
    <p *ngIf="persona.online" class="online"></p>
    <p *ngIf="!persona.online" class="offline"></p>
</div> -->

<div [ngSwitch]="numero">
    <p *ngSwitchCase="1">uno</p>
    <p *ngSwitchCase="2">due</p>
    <p *ngSwitchCase="3">tre</p>
    <p *ngSwitchCase="4">quatro</p>
    <p *ngSwitchDefault>default</p>
</div>

<div [ngSwitch]="stringa">
    <p *ngSwitchCase="'pippo'">pippo</p>
    <p *ngSwitchCase="'pluto'">pluto</p>
    <p *ngSwitchCase="'topolino'">topolino</p>
    <p *ngSwitchCase="'paperino'">paperino</p>
    <p *ngSwitchDefault>default</p>
</div>
